section
    div.wrapper-all_cart 
        p.big_title Yoga FEATURE PROGRAM
        p.litle_title Our Classes
        div.inner-wrapper-first_cart 
            div.cart
                div.wrapper_image
                    img(src="./images/cart_first/cart_first-1.png", alt="yoga")
                div.wrapper_cart_text 
                    p.title Yoga For Health
                    p.main_text Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                    p.name_position Ashtanga - Hatha
            div.cart
                div.wrapper_image
                    img(src="./images/cart_first/cart_first-2.png", alt="yoga")
                div.wrapper_cart_text 
                    p.title Yoga For Lose Weight
                    p.main_text Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                    p.name_position Ashtanga - Hatha
            div.cart
                div.wrapper_image
                    img(src="./images/cart_first/cart_first-3.png", alt="yoga")
                div.wrapper_cart_text 
                    p.title Yoga For Children
                    p.main_text Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                    p.name_position Ashtanga - Hatha
            div.cart
                div.wrapper_image
                    img(src="./images/cart_first/cart_first-4.png", alt="yoga")
                div.wrapper_cart_text 
                    p.title Yoga For Elderly
                    p.main_text Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                    p.name_position Ashtanga - Hatha
        div.inner-wrapper-second_cart 
            div.wrapper_image-hover
                span.blue_cover
                    div.wrapper_search
                        i(class='bx bx-search')
            div.wrapper_image-hover
                span.blue_cover
                    div.wrapper_search
                        i(class='bx bx-search')
            div.wrapper_image-hover
                span.blue_cover
                    div.wrapper_search
                        i(class='bx bx-search')
            div.wrapper_image-hover
                span.blue_cover
                    div.wrapper_search
                        i(class='bx bx-search')
            div.wrapper_image-hover
                span.blue_cover
                    div.wrapper_search
                        i(class='bx bx-search')
            div.wrapper_image-hover
                span.blue_cover
                    div.wrapper_search
                        i(class='bx bx-search')
            div.wrapper_image-hover
                span.blue_cover
                    div.wrapper_search
                        i(class='bx bx-search')
            div.wrapper_image-hover
                span.blue_cover
                    div.wrapper_search
                        i(class='bx bx-search')
