section#id-3
    div(class='wrapper_bg')
        span(class='fon_bg')
            div.wrapper-icon 
                div.cart-icon 
                    img(src="./images/feature-icon/icon-1.png", alt="")
                    p.title IMPROVED OVERALL HEALTH
                    p.text Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
                div.cart-icon 
                    img(src="./images/feature-icon/icon-2.png", alt="")
                    p.title INCREASED CONCENTRATION
                    p.text Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
                div.cart-icon 
                    img(src="./images/feature-icon/icon-3.png", alt="")
                    p.title BLANCE YOUR MIND
                    p.text Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
                div.cart-icon 
                    img(src="./images/feature-icon/icon-4.png", alt="")
                    p.title SLEEP BETTER
                    p.text Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
                div.cart-icon 
                    img(src="./images/feature-icon/icon-5.png", alt="")
                    p.title WEIGHT LOSS
                    p.text Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
                div.cart-icon 
                    img(src="./images/feature-icon/icon-6.png", alt="")
                    p.title STRENGTHENS YOUR BONES
                    p.text Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
                div.cart-icon 
                    img(src="./images/feature-icon/icon-7.png", alt="")
                    p.title INCREASED FLEXIBILITY
                    p.text Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
                div.cart-icon 
                    img(src="./images/feature-icon/icon-8.png", alt="")
                    p.title LOWER BLOOD PRESSURE
                    p.text Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.



        img(src="./images/blue_bg_2.png" alt="yoga" class='bg')