head
  title My Site
  //- script(src='/javascripts/jquery.js')
  link(rel='stylesheet', href='./styles.css', type='text/css' )
  link(rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css")
  script(src='./main.js')