header
    ul
        each val, index in ['About us', 'Reservation', 'Gallery', 'YOGA', 'Blog', 'Elements', 'Shop']
            li(class=val)
                a(href= 'anchor-' + index)= val
                