doctype html
html
  include includes/head.pug
  body
    include includes/header.pug
    include includes/layout-blue-contactForm.pug
    include includes/_layout-cartImage.pug
    include includes/_layout-blue-icon.pug
    include includes/_layout-cartPrice.pug

    //- script(src="https://unpkg.com/swiper/swiper-bundle.js")
    script(src="https://unpkg.com/swiper@8/swiper-bundle.min.js")
    script(src='./main.js')
    
    include includes/foot.pug
    